
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
 }
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
 }
 /* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
 header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
 }
 /* стилевой класс, который управляет шириной контейнера сетки*/
 .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
 }
 header {
    width: 100%;
    background: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
 }
 /* логотип */
 .logo {
    display: block;
    float: left;
 }
 .logo span {
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px 0;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
 }
 .logo span:nth-child(odd) {
    background: #EF5A42;
 }
 .logo span:nth-child(even) {
    background: #F8B763;
 }
 /* меню */
 #menu {
    float: right;
 }
 #menu li {
    display: inline-block;
    margin-right: 30px;
 }
 #menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
 }
 #menu a:hover {
    color: #EF5A42;
 }
 #menu li:last-child {
    margin-right: 0;
 }
 /* форма поиска */
 #searchform {
    float: right;
    margin-left: 46px;
    display: inline-block;
    position: relative;
 }
 #searchform input {
    width: 170px;
    float: left;
    border: none;
    padding-left: 10px;
    height: 40px;
    overflow: hidden;
    outline: none;
    color: #9E9C9C;
    font-style: italic;
 }
 #searchform button {
    background: transparent;
    height: 40px;
    border: none;
    position: absolute;
    right: 10px;
    color: #EF5A42;
    cursor: pointer;
    font-size: 18px;
 }
 #searchform input:focus {
    outline: 2px solid #EBEBE3;
 }
 /* кнопка переключения меню, появляющаяся при ширине 768px */
 .nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #EF5A42;
    cursor: pointer;
 }
 .nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
 }
 .nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
 }
 .nav-toggle span:before {
    top: -10px;
 }
 .nav-toggle span:after {
    bottom: -10px;
 }
 /* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
 #menu.active {
    max-height: 123px;
 }

 /* левый контейнер */
.posts-list {
    margin-bottom: 30px;
    width: 64%;
    float: left;
 }
 /* блок для статьи */
 .post {
    margin-bottom: 35px;
 }
 .post-content p {
    line-height: 1.5;
    padding-bottom: 1em;
 }
 .post-image {
    margin-bottom: 30px;
 }
 .category {
    margin-bottom: 15px;
 }
 .category a {
    color: #F8B763;
    text-transform: uppercase;
 }
 .post-title {
    margin-bottom: 12px;
    font-size: 26px;
 }
 /* блок с кнопкой "продолжить чтение" и кнопками социальных сетей */
 .post-footer {
    border-top: 1px solid #EBEBE3;
    border-bottom: 1px solid #EBEBE3;
    position: relative;
    margin-top: 15px;
 }
 .more-link {
    position: relative;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    line-height: 44px;
    padding: 0 22px;
    background: #3C3D41;
    letter-spacing: 0.1em;
    white-space: nowrap;
 }
 .more-link:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border: solid transparent;
    border-width: 22px 18px;
    border-left-color: #3C3D41;
    transform: translateX(100%);
 }
 .post-social {
    position: absolute;
    left: auto;
    top: 50%;
    right: 0;
    text-align: right;
    transform: translateY(-50%);
    padding: 0;
    font-size: 12px;
 }
 .post-social a {
    display: inline-block;
    margin-left: 8px;
    color: #F8B763;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
 }
 /* правый контейнер */
aside {
    width: 33%;
    float: right;
 }
 /* блок для виджетов */
 .widget {
    padding: 20px 15px;
    background: white;
    font-size: 13px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
 }
 .widget-title {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #F8B763;
    box-shadow: 3px 3px 0 0 #F8B763;
 }
 .widget-category-list li {
    border-bottom: 1px solid #EBEBE3;
    padding: 10px 0;
    color: #c6c6c6;
    font-style: italic;
 }
 .widget-category-list li:last-child {
    border-bottom: none;
 }
 .widget-category-list li a {
    color: #626262;
    margin-right: 6px;
    font-style: normal;
 }
 .widget-category-list li a:before {
    content: "\f105";
    display: inline-block;
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #c6c6c6;
 }
 .widget-posts-list li {
    border-top: 1px solid #EBEBE3;
    padding: 15px 0;
 }
 .widget-posts-list li:nth-child(1) {
    border-top: none;
 }
 .post-image-small {
    width: 30%;
    float: left;
    margin-right: 15px;
 }
 .widget-post-title {
    float: left;
 }
 /* форма подписки */
 #subscribe {
    position: relative;
    width: 100%;
    padding: 15px 0;
 }
 #subscribe input {
    width: 100%;
    display: block;
    float: left;
    border: 2px solid #EBEBE3;
    padding: 0 0 0 10px;
    height: 40px;
    position: relative;
    outline: none;
    color: #9E9C9C;
    font-style: italic;
 }
 #subscribe button {
    padding: 0 15px;
    background: transparent;
    height: 40px;
    border: none;
    position: absolute;
    right: 0;
    color: #EF5A42;
    cursor: pointer;
    font-size: 18px;
 }
 #subscribe input:focus+button {
    background: #EF5A42;
    color: white;
 }
 footer {
    padding: 30px 0;
    background: #3C3D41;
    color: white;
 }
 .footer-col {
    width: 33.3333333333%;
    float: left;
 }
 .footer-col a {
    color: white;
 }
 .footer-col:last-child {
    text-align: right;
 }
 .social-bar-wrap {
    text-align: center;
 }
 .social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
 }

 @media (max-width: 768px) {
    /* показываем кнопку для переключения верхней навигации */
    .nav-toggle {
       display: block;
    }
    header {
       padding: 10px 0;
    }
    /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
    #menu {
       max-height: 0;
       background: white;
       float: none;
       position: absolute;
       overflow: hidden;
       top: 63px;
       right: 0;
       left: 0;
       margin: 0;
       padding: 0;
       z-index: 3;
    }
    /* делаем элементы списка блочными, чтобы они располагались друг под другом */
    #menu li {
       display: block;
       text-align: center;
       border-bottom: 1px solid #EBEBE3;
       margin-right: 0;
    }
    /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
    .posts-list, aside {
       width: 100%;
       float: none;
    }
    .widget-post-title {
       font-size: 1.5em;
    }
 }
 
 @media (max-width: 480px) {
    /* отменяем обтекание для логотипа и выравниваем по центру*/
    .logo {
       float: none;
       margin: 0 auto 15px;
       display: table;
    }
    .logo span {
       margin: 0 2px;
    }
    /* позиционируем меню на увеличившуюся высоту шапки */
    #menu {
       top: 118px;
    }
    /* позиционируем форму поиска по левому краю */
    #searchform {
       float: left;
       margin-left: 0;
    }
    /* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
    .post-footer {
       border-top: none;
       border-bottom: none;
       text-align: center;
    }
    /* отменяем позиционирование кнопок соцсетей */
    .post-social {
       position: static;
       text-align: center;
       transform: none;
       margin-top: 20px;
    }
    .widget-post-title {
       font-size: 1.2em;
    }
    /* отменяем обтекание для столбцов подвала страницы */
    .footer-col {
       float: none;
       margin-bottom: 20px;
       width: 100%;
       text-align: center;
    }
    .footer-col:last-child {
       text-align: center;
       margin-bottom: 0;
    }
 }
